/network/organizations/fabric-ca/ordererOrg/*
/network/organizations/fabric-ca/org1/*
/network/organizations/fabric-ca/org2/*
/network/organizations/ordererOrganizations/*
/network/organizations/peerOrganizations/*
/network/system-genesis-block/*
/network/channel-artifacts/*
*.tar.gz
log.txt
/bin/*
/config/*
/app/chaincode-go/vendor/*
/builders/*
install-fabric.sh
start
/application/node_modules/*
